body{
  background-color: #000000;
}
hr{
  background-color: none;
  border-style: dashed none none none;
  height: 0;
  width: 100%;
  border-width: 1px;
}

h1{
  color: white;
}
h3{
  color: white;
}
body{
  color: #bbbbbb;
}

img{
  border-radius: 1px;
  background-color: black;
  border-color: white;
  border-width: medium;
}
